
body {
  margin: 0;
  background-color: hsl(212, 45%, 89%);
  height: 500px;
}


.white-container {
  position: relative;
  background-color: #fff;
  height: 395px;
  width: 250px;
  margin: auto;
  top: 25%;
  border-radius: 15px;
}

.qr-code {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 10px;
  left: 15px;
  right: 15px;
  top: 15px;
}

.top-text {
  padding-top: 10px;

  width: 80%;
  position: relative;
  margin: auto;
  top: 20px;
  text-align: center;

  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;

  line-height: 1.5rem;
}

.bottom-text {

  color: grey;

  width: 75%;

  padding-top: 35px;
  position: relative;
  margin: auto;
  text-align: center;

  font-family: 'Outift', sans-serif;
  font-size: 11px;
  font-weight: lighter;
  line-height: 1rem;

}
